 {# src/Acme/BiddingBundle/Resources/views/Default/index.html.twig #}
 {% extends '::base.html.twig' %}
 {% block body %}
 <div class="row-fluid">
 	<div class="span6 offset3">
		 <h3 style="font-size:24px;">Welcome <span  style="font-size:26px;"class="success"> {{name}}</span>, feel free to place your bid. </h3>
		 <table class="table table-bordered">
		 	<THEAD>
		 		<th> Name</th>
		 		<th> Bid Price </th>
		 		<th> Bid Time </th>
			
		 	</THEAD>
		 	<TBODY id="bid_history">
		 {% for items in data %}
		 	<tr>
		 		<td> {{ items.name }} </td>
		 		<td> $ {{ items.price }} </td>
		 		<td> {{ items.time }} </td>
		 	</tr>
		 {% endfor %}
		 </TBODY>
		</table>
		<center>
			Current minimum bid:<br /> <span style="font-size:30px;" class="error">$<span id="current_bid">{{price}}</span></span><br /> <a class="btn btn-primary" href="" id="place_bid" onclick="javascript:return false;">Place a bid</a>
		</center>
	</div>
</div>
<script type="text/javascript">
	  $('#place_bid').click(function() {
		  var c_bid =  $('#current_bid').text();
		  var query = "";
		  $.ajax({
			  url: "/add-bid/" + c_bid,
			  type: "POST",
			  data: query,
			  dataType: "json",
			  success: function(data) { 
				if(!data.res){
					alert (data.error);
			
				}else{
					
				}
			  }
		 });
	  
	  });
  </script>
{% endblock %}
